#client {
    .btn-create {
        svg {
            height: 25px;
            width: 25px;
            margin-right: 10px;
        }
    }
    .freelancer-bidding {
        padding: 40px 0;
        .list-container {
            .list-header {
                background: #2070b5;
                color: #fff;
                div {
                    border-right: 0;
                }
            }
            .list-body {
                .list-body-row {
                    .title {
                        align-items: center;
                        display: flex;
                        .avatar {
                            padding-right: 5px;
                            svg {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    border-bottom: 1px solid #eee;
                    div {
                        border-right: none;
                    }
                }
            }
        }
    }
    .mkp-form-row {
        .mkp-form-row-sub {
            &.left {
                padding-right: 40px;
            }
            &.number {
                input {
                    padding: 7px 10px;
                }
            }
        }
    }
}

.container-wrp {
    .single-body {
        .mkp-form-row {
            .description-text {
                .ql-editor {
                    min-height: 200px;
                    strong,
                    b {
                        font-weight: bold;
                    }
                    em,
                    i {
                        font-style: italic;
                    }
                }
                .ql-active {
                    background: #eee;
                }
                .ql-tooltip {
                    input {
                        width: inherit !important;
                    }
                }
            }
        }
    }
}

#bigbomMarketplace {
    .job-detail {
        .btn-back {
            margin-top: -30px;
            margin-bottom: 30px;
        }
        .full-top-wrp {
            .main-intro {
                h1 {
                    font-size: 25px;
                    line-height: 1.4;
                }
            }
        }
    }
    .no-data {
        padding: 20px;
        text-align: center;
        background: #f9f9f9;
        width: 100%;
        box-sizing: border-box;
    }
    .custom-budget {
        display: flex;
        width: 100%;
        button {
            margin-right: -90px;
            box-shadow: none;
            border: solid 1px #ccc;
            padding: 9px 25px;
        }
        input {
            margin-left: 89px !important;
        }
    }
    .reason-menu {
        h3 {
            text-align: left;
            color: #666;
        }
        .select-item {
            background: #eee;
            .select-item-text {
                p {
                    color: #555;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
    #reason-menu {
        .reason-item {
            svg {
                color: $orange;
            }
        }
        ul {
            min-width: 330px;
        }
    }
}
