#bigbomMarketplace {
    #voter {
        .dispute-list {
            .job-item {
                background: #f9f9f9;
                border: 1px solid #ccc;
                box-sizing: border-box;
                margin-bottom: 25px;
                & > div {
                    padding: 0;
                }
                .header {
                    .title {
                        padding: 20px;
                        span {
                            font-size: 12px;
                            color: #888;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .commit-duration {
            margin: -1px 0 0 0;
            background: #eee;
            .vote-btn {
                text-align: center;
                padding-top: 13px;
                .btn {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .job-detail-col {
                padding: 10px;
                text-align: center;
                font-size: 25px;
                color: #fff;
                text-shadow: $thinShadow;
                background: #5ac95a;
            }
        }
        .job-detail {
            .single-body {
                .job-detail-description {
                    padding-bottom: 0;
                    .ct {
                        max-height: 200px;
                        overflow: hidden;
                    }
                    .ct-full {
                        max-height: inherit;
                    }
                    .bottom-ct {
                        border-top: 1px solid #ccc;
                        padding: 0 0 30px 0;
                        margin-top: 30px;
                        text-align: center;
                        .btn {
                            margin-top: -25px;
                        }
                    }
                }
                .job-info {
                    padding: 0;
                    margin-bottom: 47px;
                    background: #f9f9f9;
                    box-shadow: $thinShadow;
                    & > div {
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                    .commit-duration {
                        p {
                            padding: 5px 10px;
                            text-align: center;
                            color: #fff;
                            background: $green;
                        }
                        padding: 0;
                        margin-bottom: 10px;
                    }
                }
                .proofs {
                    .client-proof {
                        border-right: 1px solid #c3d8c3;
                        position: relative;
                    }
                    .freelancer-proof {
                        position: relative;
                    }
                    .proof-text {
                        padding: 20px;
                        line-height: 25px;
                        margin-bottom: 30px;
                    }
                    .header {
                        background: #daeeda;
                        color: #285338;
                        padding: 10px 20px;
                        text-align: center;
                        font-weight: bold;
                    }
                    .vote-submit {
                        text-align: center;
                        bottom: 0;
                        position: absolute;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.voting-options-vote {
    .voting-options-vote-input {
        width: 100%;
    }

    .currency {
        justify-content: left;
        display: flex;
        align-items: flex-end;
        i {
            margin-bottom: 3px;
            margin-left: 5px;
        }
    }
}
.popper {
    z-index: 9999;
}
