- More than 6-month experience with ReactJS - Accustomed to the software development model Agile - More than 3-year experience of HTML/CSS3 - Good command of DOM HTML Object and its functions - Experience of CSS Framework (Bootstrap/Zurb) - Skilled at CSS Preprocessor (LESS/SASS) - Knowledge of code patterns: CSS (OOCSS, SMACSS, BEM, ITCSS, ACSS, etc.) and JS Pattern (Constructor, Factory, Prototype, etc.) - Experience of AJAX - Good at problem-solving and debug skills (on major web browsers) - Experience of using frontend Task Runners such as Grunt/Gulp, etc. - Good command of source code management such as Git/SVN