$green: #4cc763;
$thinShadow: 0 1px 1px rgba(0, 0, 0, 0.3);
$normalShadow: 0 2px 2px rgba(0, 0, 0, 0.3);

#bigbomMarketplace {
    .container-wrp {
        float: left;
        width: 100%;
    }
    .container {
        width: 1110px;
        margin: 0 auto;
    }
    .wrapper {
        padding: 40px 0;
    }
    .full-top-wrp {
        background: #fff url('/images/homebg.png') no-repeat center center;
        background-size: cover;
        .main-intro {
            padding-bottom: 60px;
            h1 {
                font-size: 30px;
                color: #fff;
                padding: 0 0 10px 0;
                text-shadow: $thinShadow;
                width: 100%;
                font-weight: bold;
            }
            .description {
                color: #c8f5dc;
                font-size: 18px;
                max-width: 800px;
                text-shadow: $thinShadow;
                line-height: 1.3;
            }
        }
    }
    .main-ct {
        .wrapper {
            background: #fff;
            box-shadow: $thinShadow;
            margin-top: -40px;
            border-radius: 5px;
        }
        .main-ct-left {
            padding: 0 30px;
        }
    }
    .mkp-form-row {
        padding-bottom: 20px;
        .mkp-form-row-label {
            font-size: 20px;
            width: 100%;
            color: #444;
            display: inline-block;
            font-weight: bold;
            padding: 0 0 10px 0;
        }
        .mkp-form-row-description {
            font-size: 16px;
            color: #777;
            padding: 0 0 10px 0;
            display: inline-block;
        }
        input[type='text'],
        textarea {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            font-size: 16px;
            &:focus {
                border: 1px solid $green;
            }
        }
        .creatable-select {
            padding: 0 0 10px 0;
        }
    }
    .btn {
        border-radius: 25px;
    }
    .btn-normal {
        font-size: 16px;
        padding: 6px 25px;
    }
    .btn-medium {
        font-size: 20px;
        padding: 10px 35px;
    }
    .btn-green {
        background-color: $green;
        color: #fff;
    }
    .btn-white {
        background-color: #fff;
        color: $green;
        box-shadow: $thinShadow;
    }
}
