@import 'setting';
@import 'common';
@import 'header';
@import 'footer';

@import './components/home';
@import './components/client';
@import './components/freelancer';
@import './components/voter';

body {
    padding: 0;
    margin: 0;
    color: #222;
}

* {
    box-sizing: border-box;
}

.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.loading {
    width: 100%;
    font-size: 30px;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        padding-top: 20px;
    }
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.productsWrap {
    overflow: hidden;
    padding-top: 30px;

    .siderbar {
        width: 25%;
        padding: 10px;
        display: block;
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: left;
        font-size: 18px;

        h3 {
            color: #111;
        }

        li {
            margin-bottom: 15px;

            &.curr {
                a {
                    text-decoration: underline;
                }
            }
        }

        a {
            color: #333;
            font-size: 15px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .products {
        width: 70%;
        float: right;
    }

    .productDetail {
        p {
            font-size: 22px;
        }
    }
}

.reddit-api {
    ul {
        text-align: left;

        &.loaded {
            opacity: 0.5;
        }

        li {
            margin-bottom: 10px;
        }
    }
}

a {
    color: $blue;
}

.refresh {
    cursor: default;
    color: blue;
    opacity: 0.2;
    text-decoration: underline;

    &.enable {
        cursor: pointer;
        opacity: 1;
    }
}

.main-nav {
    background: #252525;
    li {
        float: left;
        &.actived {
            a {
                border-bottom: 2px solid $green;
                padding: 15px 25px 13px 25px;
                color: $green;
                background: #353535;
            }
        }
        a {
            padding: 15px 25px;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            transition: all 0.3s ease-in;
            &:hover {
                color: $green;
            }
        }
    }
}
.nav {
    .top-selection {
        margin-right: 20px;
        padding: 0;
        margin-top: -5px;
        .select-item {
            padding: 5px 15px;
            border-radius: 15px;
            background: rgba(255, 255, 255, 1);
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(64, 189, 86, 0.15)));
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40bd56', GradientType=1 );
            .select-item-text {
                padding-right: 10px;
                p {
                    font-size: 16px;
                    color: #319164;
                }
            }
            i {
                color: #319164;
            }
        }
    }
}
.inside-box {
    width: 100%;
    margin-top: 0px;
    .inside-result {
        padding: 20px;
        min-height: 150px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        margin: 20px 0;
    }
    .inside-result-close {
        float: right;
        bottom: -40px;
    }
}
.dispute-actions {
    background: #fffcdf;
    border: 1px solid #fc9a4b;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    .note {
        i {
            margin: 0 5px;
        }
    }
}
.evidence-show {
    padding: 20px;
    margin-top: 40px;
    line-height: 25px;
    background: #fff;
    box-shadow: $thinShadow;
}

.dialog {
    .loading {
        min-height: inherit;
    }
    .dialog-result {
        padding: 30px;
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        .success {
            font-weight: bold;
            .icon {
                color: $green;
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }
}
.top-actions {
    float: right;
    padding-right: 30px;

    .action {
        padding-right: 20px;
        float: left;
        &.filter {
            min-width: 400px;
            z-index: 999;
            position: relative;
        }
        .btn {
            margin-top: 3px;
        }
        &:last-child {
            padding-right: 0;
        }
        &.reload-btn {
            float: right;
        }
    }
}
.top-action {
    width: 100%;
    .btn-bid {
        float: right;
        margin-left: 15px;
    }
    .note {
        margin-top: -20px;
        margin-bottom: 30px;
        display: inline-block;
        float: right;
        svg {
            height: 17px;
            width: 17px;
            margin-right: 3px;
        }
        button {
            margin-top: -10px;
        }
    }
}

.login-page {
    min-height: 380px;
    justify-content: center;
    align-items: center;
    .connect-item {
        padding: 30px 40px 30px 40px !important;
        box-shadow: 0 -5px #2eae3b !important;
    }
    .logo {
        text-align: center;
        img {
            width: 120px;
        }
    }
    .name {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        text-shadow: $thinShadow;
    }
    .btn {
        width: 200px;
        border-radius: 4px !important;
        border-bottom: 4px solid #ccc;
        text-transform: uppercase;
    }
    .register-wrp {
        width: 400px;
        input {
            padding: 10px 20px;
            width: 100%;
            font-size: 16px;
            background: rgba(0, 0, 0, 0.15);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            outline: none;
            color: #fff;
            border: 1px solid rgb(187, 252, 160);
            border-radius: 4px;
            &::placeholder {
                color: rgb(187, 223, 174);
                opacity: 1;
            }
            &:focus {
                border: 1px solid rgb(255, 255, 255);
            }
        }
        .form-row {
            margin-top: 20px;
            position: relative;
            .form-row-input {
                flex-wrap: nowrap;
            }
            .first-name {
                margin-right: 10px;
            }
            .form-row-label {
                font-size: 14px;
                color: #fff;
                padding-bottom: 5px;
                text-shadow: $thinShadow;
            }
            &.confirm {
                margin-top: 10px;
                .err {
                    margin-top: 2px;
                }
            }
            .wallet {
                background: #f9f9f9;
                padding: 5px 0px;
                text-align: center;
                color: #4f82a7;
                font-size: 15px;
            }
        }
    }
    .err {
        position: absolute;
        right: -225px;
        width: 220px;
        font-size: 12px;
        padding: 5px 10px;
        background: #f18313;
        line-height: 14px;
        color: #fff;
        margin-top: 20px;
    }
    .register-loading {
        svg {
            color: #fff;
        }
        color: #fff;
        font-size: 20px;
        text-shadow: $thinShadow;
        min-height: inherit;
    }
    .note {
        text-align: center;
        color: #fff;
        line-height: 24px;
        font-size: 18px;
        text-shadow: $thinShadow;
        width: 600px;
        i {
            font-size: 40px;
            margin-bottom: 10px;
            border: 5px solid $green;
            border-radius: 50%;
            box-shadow: $thinShadow;
        }
    }
}
