@import 'setting';
@import 'common';
@import 'header';
@import 'footer';

@import './components/home';
@import './components/client';
@import './components/freelancer';
@import './components/voter';

body {
    padding: 0;
    margin: 0;
    color: #222;
}

* {
    box-sizing: border-box;
}

.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.loading {
    width: 100%;
    font-size: 30px;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        padding-top: 20px;
    }
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.productsWrap {
    overflow: hidden;
    padding-top: 30px;

    .siderbar {
        width: 25%;
        padding: 10px;
        display: block;
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: left;
        font-size: 18px;

        h3 {
            color: #111;
        }

        li {
            margin-bottom: 15px;

            &.curr {
                a {
                    text-decoration: underline;
                }
            }
        }

        a {
            color: #333;
            font-size: 15px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .products {
        width: 70%;
        float: right;
    }

    .productDetail {
        p {
            font-size: 22px;
        }
    }
}

.reddit-api {
    ul {
        text-align: left;

        &.loaded {
            opacity: 0.5;
        }

        li {
            margin-bottom: 10px;
        }
    }
}

a {
    color: $blue;
}

.refresh {
    cursor: default;
    color: blue;
    opacity: 0.2;
    text-decoration: underline;

    &.enable {
        cursor: pointer;
        opacity: 1;
    }
}

.main-nav {
    background: #252525;
    li {
        float: left;
        &.actived {
            a {
                border-bottom: 2px solid $green;
                padding: 15px 25px 13px 25px;
                color: $green;
                background: #353535;
            }
        }
        a {
            padding: 15px 25px;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            transition: all 0.3s ease-in;
            &:hover {
                color: $green;
            }
        }
    }
    .account-info {
        min-height: 46px;
    }
}
.nav {
    .top-selection {
        margin-right: 20px;
        padding: 0;
        margin-top: -5px;
        .select-item {
            padding: 5px 15px;
            border-radius: 15px;
            background: rgba(255, 255, 255, 1);
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(64, 189, 86, 0.15)));
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(64, 189, 86, 0.15) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40bd56', GradientType=1 );
            .select-item-text {
                padding-right: 10px;
                p {
                    font-size: 16px;
                    color: #319164;
                }
            }
            i {
                color: #319164;
            }
        }
    }
}
.inside-box {
    width: 100%;
    margin-top: 0px;
    .inside-result {
        padding: 20px;
        min-height: 150px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        margin: 20px 0;
    }
    .inside-result-close {
        float: right;
        bottom: -40px;
    }
}
.dispute-actions {
    background: #fffcdf;
    border: 1px solid #fc9a4b;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    .note {
        i {
            margin: 0 5px;
        }
    }
}
.evidence-show {
    padding: 20px;
    margin-top: 40px;
    line-height: 25px;
    background: #fff;
    box-shadow: $thinShadow;
}

.dialog {
    .loading {
        min-height: inherit;
    }
    .dialog-result {
        padding: 30px;
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        .success {
            font-weight: bold;
            .icon {
                color: $green;
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }
}
.top-actions {
    float: right;
    padding-right: 30px;

    .action {
        padding-right: 20px;
        float: left;
        &.filter {
            min-width: 400px;
            z-index: 999;
            position: relative;
        }
        .btn {
            margin-top: 3px;
        }
        &:last-child {
            padding-right: 0;
        }
        &.reload-btn {
            float: right;
        }
    }
}
.top-action {
    width: 100%;
    .btn-bid {
        float: right;
        margin-left: 15px;
    }
    .note {
        margin-top: -20px;
        margin-bottom: 30px;
        display: inline-block;
        float: right;
        svg {
            height: 17px;
            width: 17px;
            margin-right: 3px;
        }
        button {
            margin-top: -10px;
        }
    }
}

.login-page {
    min-height: 380px;
    justify-content: center;
    align-items: center;
    .connect-item {
        padding: 30px 40px 30px 40px !important;
        box-shadow: 0 -5px #2eae3b !important;
    }
    .logo {
        text-align: center;
        img {
            width: 120px;
        }
    }
    .name {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        text-shadow: $thinShadow;
    }
    .btn {
        width: 200px;
        border-radius: 4px !important;
        border-bottom: 4px solid #ccc;
        text-transform: uppercase;
    }
    .register-wrp {
        width: 400px;
        input {
            padding: 10px 20px;
            width: 100%;
            font-size: 16px;
            background: rgba(0, 0, 0, 0.15);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            outline: none;
            color: #fff;
            border: 1px solid rgb(187, 252, 160);
            border-radius: 4px;
            &::placeholder {
                color: rgb(187, 223, 174);
                opacity: 1;
            }
            &:focus {
                border: 1px solid rgb(255, 255, 255);
            }
        }
        .form-row {
            margin-top: 20px;
            position: relative;
            .form-row-input {
                flex-wrap: nowrap;
            }
            .first-name {
                margin-right: 10px;
            }
            .form-row-label {
                font-size: 14px;
                color: #fff;
                padding-bottom: 5px;
                text-shadow: $thinShadow;
                font-weight: bold;
            }
            &.confirm {
                margin-top: 10px;
                .err {
                    margin-top: 2px;
                }
            }
            .wallet {
                background: #f9f9f9;
                padding: 5px 0px;
                text-align: center;
                color: #4f82a7;
                font-size: 15px;
            }
        }
    }
    .err {
        position: absolute;
        right: -225px;
        width: 220px;
        font-size: 12px;
        padding: 5px 10px;
        background: #f18313;
        line-height: 14px;
        color: #fff;
        margin-top: 20px;
    }
    .register-loading {
        svg {
            color: #fff;
        }
        color: #fff;
        font-size: 20px;
        text-shadow: $thinShadow;
        min-height: inherit;
    }
    .note {
        text-align: center;
        color: #fff;
        line-height: 24px;
        font-size: 18px;
        text-shadow: $thinShadow;
        width: 600px;
        font-weight: bold;
        i {
            font-size: 40px;
            margin-bottom: 10px;
            border: 5px solid $green;
            border-radius: 50%;
            box-shadow: $thinShadow;
        }
    }
}

.dialog-note {
    padding: 10px;
    background: #f9fdce;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid #c3e262;
    i {
        font-size: 30px;
        color: #ffb100;
    }
    &.build-in-note {
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: -10px;
        i {
            float: left;
            margin-right: 10px;
            margin-top: 6px;
        }
    }
}

.bb-parameters {
    padding: 20px;
    box-shadow: $normalShadow;
    margin-bottom: 40px;
    margin-top: 30px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 15px;
    .type {
        padding: 15px 20px;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        margin-top: -46px;
        background: rgba(100, 164, 217, 1);
        background: -moz-linear-gradient(left, rgba(100, 164, 217, 1) 0%, rgba(84, 153, 199, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100, 164, 217, 1)), color-stop(100%, rgba(84, 153, 199, 1)));
        background: -webkit-linear-gradient(left, rgba(100, 164, 217, 1) 0%, rgba(84, 153, 199, 1) 100%);
        background: -o-linear-gradient(left, rgba(100, 164, 217, 1) 0%, rgba(84, 153, 199, 1) 100%);
        background: -ms-linear-gradient(left, rgba(100, 164, 217, 1) 0%, rgba(84, 153, 199, 1) 100%);
        background: linear-gradient(to right, rgba(100, 164, 217, 1) 0%, rgba(84, 153, 199, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a4d9', endColorstr='#5499c7', GradientType=1 );
    }
    .header {
        div {
            padding: 20px 10px;
            font-weight: bold;
            color: #0b82c7;
        }
        border-bottom: 1px solid #ddd;
    }
    .row {
        border-bottom: 1px solid #ddd;
        div {
            padding: 10px;
            display: flex;
            align-items: center;
            &.name {
                font-weight: bold;
            }
            &.description {
                font-size: 14px;
            }
            &.value {
                //justify-content: center;
                font-size: 12px;
                font-weight: bold;
                span {
                    padding: 2px 5px;
                    display: inline-block;
                    background: #f9f9f9;
                    border-radius: 4px;
                    box-shadow: $thinShadow;
                }
            }
            &.real-params {
                font-size: 14px;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.withraw-token {
    min-height: 400px;
    .withraw-form {
        width: 500px;
        .withraw-form-title {
            padding: 20px 0;
            font-size: 20px;
        }
        input {
            width: 100%;
        }
    }
}

.rating {
    display: flex;
    float: left;
    align-items: center;
    margin-left: 30px;
    position: relative;
    line-height: 1;
    i {
        font-style: normal !important;
    }
    cursor: pointer;
    .fix-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
    }
    .avg {
        font-size: 16px;
        padding: 5px 8px;
        margin-right: 5px;
        background: orange;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
    }
    .total {
        color: #666;
        font-size: 14px;
        padding-left: 10px;
        padding-top: 0;
    }
    .rating-detail {
        position: absolute;
        width: 500px;
        bottom: 40px;
        background: #f9f9f9;
        padding: 20px;
        box-shadow: $normalShadow;
        border-radius: 5px;
        z-index: 10;
        .fix-top {
            height: 40px;
            float: left;
            width: 100%;
            margin-bottom: -35px;
        }
        .left {
            float: left;
            width: 40%;
            .avg-detail {
                font-size: 50px;
                text-align: center;
            }
            .star {
                width: 100%;
                text-align: center;
                padding-top: 10px;
            }
            .total {
                text-align: center;
                width: 100%;
                padding-left: 0;
                padding-top: 5px;
            }
            button {
                padding: 5px 10px;
                font-size: 14px;
                background: #fff;
                width: 100%;
                border: 1px solid $blue;
                border-radius: 5px;
                margin-top: 10px;
                color: $blue;
                box-shadow: $thinShadow;
                &:disabled {
                    color: #879cac;
                    border-color: #d3e0e9;
                    box-shadow: none;
                }
            }
        }
        .right {
            float: left;
            width: 60%;
            .row {
                display: flex;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .numRate {
                    padding: 0 10px;
                    font-size: 16px;
                    line-height: 1.2;
                }
                .chart {
                    width: 100%;
                    .widthRate {
                        height: 100%;
                        background: #999;
                        &.widthRate-5 {
                            background: #ffb400;
                            border-left: 1px solid #ffb400;
                        }
                        &.widthRate-4 {
                            background: rgb(255, 153, 0);
                            border-left: 1px solid rgb(255, 153, 0);
                        }
                        &.widthRate-3 {
                            background: rgb(255, 123, 0);
                            border-left: 1px solid rgb(255, 123, 0);
                        }
                        &.widthRate-2 {
                            background: rgb(255, 102, 0);
                            border-left: 1px solid rgb(255, 102, 0);
                        }
                        &.widthRate-1 {
                            background: rgb(255, 81, 0);
                            border-left: 1px solid rgb(255, 81, 0);
                        }
                    }
                }
            }
        }
    }
}
.rating-form {
    float: left;
    width: 100%;
    .mkp-form-row {
        flex-grow: 1;
        padding-bottom: 20px !important;
        .mkp-form-row-description {
            line-height: 20px;
        }
        .error,
        .success {
            font-size: 20px;
            font-weight: bold;
            padding: 30px;
            width: 100%;
            display: inline-block;
            i {
                margin-right: 10px;
            }
        }
        .error {
            i {
                color: $red;
            }
        }
        .success {
            i {
                color: $green;
            }
        }
    }
    .rating-submit {
        .btn {
            &.cancel {
                background: #fff;
            }
        }
    }
    .rate-select {
        font-size: 25px;
        .dv-star-rating-star {
            margin-right: 10px;
        }
        .dv-star-rating-empty-star {
            color: #666 !important;
        }
    }
}
.rating-dialog-ct {
    min-width: 600px;
    .loading {
        min-height: 200px;
    }
}
